html
	head
		title file metadata microservice
	body
		p submit a file to view its filesize
		form(action="/" method="POST" enctype="multipart/form-data")
			input(type="file" name="data")
			input(type="submit")